/* Less variables */

@spacing: 10px;
@circleDiameter: 100px;
@borderRadius: @circleDiameter / 2;
@largeBorderRadius: @borderRadius + @spacing;
@backgroundColor: #fff;
@listBackground: #fff;
@listHoverBackground: #d8d8d8;
@listHoverBorder: #c00;
@fontColor: #333;


.translateX(@x) {
  -webkit-transform: translateX(@x);          
  transform: translateX(@x);   
}

/* --- Tags --- */


html, body {
 padding:0;
 margin:0;
 outline:0;
}

body {
 font-family: Open Sans, Helvetica, Arial, sans-serif;
 background-color:@backgroundColor;
 color:@fontColor;
}

ul {
 margin: 0;
 padding: @spacing 0;
 list-style-type: none;
 overflow:auto;
}

h2 {
 font-size: 1.5rem;
 line-height:1.9rem;
 margin:0 0 @spacing 0;
}

a:link {
 color:#c00;
 text-decoration: none;
}

a:visited {
 color:#a00;
}

a:hover {
 color: #e00;
 text-decoration: underline;
}

a:active {
 text-decoration: underline;
}

/* --- Classes --- */

.view {
 -webkit-transition: -webkit-transform 0.5s ease;
 transition: transform 0.5s ease;
 -webkit-backface-visibility: hidden;
 width:100%;
 position:fixed;
}


/* Controls */

.controls {
  box-sizing: border-box;
  background: #888;
  color: #fff;
  z-index:100;
  padding:@spacing;
  text-align: right;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.15);;
}


/* List view */

.listView {
 background-color: @backgroundColor;
 z-index: 95;
 padding:@spacing;
 box-sizing:border-box;
 position:relative;
}

.listView h2 {
 white-space:nowrap; 
 overflow:hidden;
 text-overflow:ellipsis;
 font-weight:300;
}

.listView a {
  white-space: nowrap;
}

.listItem {
 box-sizing: border-box;
 overflow:scroll;
 background-color: @listBackground;
 border-radius: @largeBorderRadius;
 padding:@spacing;
 margin-bottom:@spacing;
 border:1px solid #fff;
 cursor:pointer;

}  

.listItem:hover {
  xbackground-color: @listHoverBackground;
  border-color: @listHoverBorder;
}

.thumb {
 box-sizing: border-box;
 height:@circleDiameter;
 width:@circleDiameter;
 background-size:cover;
 background-position: center center;
 border-radius:@borderRadius;
 float:left;
 margin-right:@spacing;
 border: 1px solid rgba(0,0,0, 0.1);
}

.listView img {
 display:none;
}

.listView .author {
  float:left;
  margin-right: 1em;
}

.listView .author,
.listView .date {
  margin-right:1em;
}

.listView .text {
  margin-left: @circleDiameter + @spacing;
}

.images {
  padding-top:50px;
  
}
/* Detail view */ 

.detailView {
 top:0;
 left:50%;
 height:100%;
 background-size:cover;
 background-position: center center;
 color:#333;
 z-index:90;
}

.detailMode .listView,
.detailMode .controls {
 .translateX(-100%);          
}

.detailMode .detailView {
 .translateX(-50%);
}


.info {
 box-sizing: border-box;
 position:absolute;
 right:0;
 top:0;
 width:25%;
 height:100%;
 background-color: rgba(255,255,255, 0.6);
 overflow:scroll;
 -webkit-overflow-scrolling:touch;
 padding:@spacing;
 word-wrap: break-word;
 -webkit-transition: opacity 0.5s ease-out;
 transition: opacity 0.5s ease-out;
}

.info.hide {
  opacity: 0;
}

.info p:first-of-type {
 display:none;
}
.info p:nth-of-type(2) {
 display:none;
}


.info .tags a {
  margin-right: @spacing;
  display:inline-block;
}


.detailView img {
 width:1px;
 height:1px;
 visibility: hidden;
}

.detailView .date {
  white-space: nowrap;
}

.back {
  cursor:pointer;
}


/* Narrow columns */

@media all and (max-width: 800px), 
       all and (min-width: 1024px) and (max-width: 1280px),
       all and (min-width: 1600px) and (max-width: 2100px) {
  .listView .author {
    float:none;
  }

  .listView .date {
    display: block;
    margin-bottom: @spacing;
  }

}


/* Over 1280px 2 columns */

@media all and (min-width: 1024px) {
  .listItem {
    width: 50%;
    float:left;
  }
}

/* Over 1600px 3 columns*/

@media all and (min-width: 1600px) {
  .listItem {
    width: 33%;
  }
}
